---
import { Image } from "astro:assets";
import { getData } from "../utils/projects";
const data = getData();
---

<section id="projects" class="adjusted snap-start snap-always lg:h-screen">
  <div
    class="mx-auto mt-32 flex h-full max-w-screen-xl flex-col items-center justify-center px-6 lg:mt-0"
  >
    <!-- Heading -->
    <h1
      class="bg-gradient-to-b from-purple-400 to-fuchsia-700 bg-clip-text pb-4 text-center text-3xl font-bold text-transparent es:text-2xl lg:pb-8"
    >
      Projects
    </h1>
    <!-- Three projects -->
    <div class="w-full lg:flex lg:h-auto lg:gap-x-6">
      {
        data &&
          data.slice(0, 3).map((item, index) => {
            return (
              <div
                class={`flex flex-col lg:h-auto lg:flex-row lg:gap-x-10 lg:gap-y-0 ${index !== 0 ? "mt-6 lg:mt-0" : ""}`}
                data-aos="fade-up"
                data-aos-anchor-placement="center-bottom"
                data-aos-duration="800"
              >
                <div
                  class={`group flex flex-col rounded-3xl ${index !== 0 ? "mt-auto lg:mt-0" : ""} h-fit bg-gray-1 p-6 shadow-lg transition-bg duration-500 hover:bg-gray-2 md:p-10 lg:p-6`}
                >
                  {/* Image */}
                  <div class="h-full w-full lg:h-1/2">
                    <Image
                      src={item.image}
                      class="h-full w-full rounded-2xl bg-cover object-cover"
                      alt="project"
                      transition:name={item.name}
                      loading="lazy"
                    />
                  </div>
                  {/* Text */}
                  <div class="pt-4 lg:block lg:h-auto lg:w-full lg:rounded-b-xl lg:rounded-t-none lg:pt-6">
                    <div class="flex h-full flex-row-reverse justify-end px-0">
                      <div>
                        <h1 class="text-lg font-bold text-white es:text-base es:font-semibold lg:text-xl">
                          {item.name}
                        </h1>
                        <p class="text-sm text-white text-opacity-80 es:text-xs">
                          {item.type}
                        </p>
                      </div>
                    </div>
                  </div>
                  {/* Visit and Detail Buttons */}
                  <div class="mt-5 flex gap-3 text-primary">
                    <a
                      target="_blank"
                      href={item.url}
                      class="item-center flex w-fit gap-2 rounded-full border bg-white px-4 py-2 text-secondary hover:bg-slate-200"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-link-2"
                      >
                        <>
                          <path d="M9 17H7A5 5 0 0 1 7 7h2" />
                          <path d="M15 7h2a5 5 0 1 1 0 10h-2" />
                          <line x1="8" x2="16" y1="12" y2="12" />
                        </>
                      </svg>
                      Visit
                    </a>
                    <a
                      href={item.href}
                      class="item-center flex w-fit gap-2 rounded-full border px-4 py-2 text-primary hover:bg-gray-700"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-log-in"
                      >
                        <>
                          <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />
                          <polyline points="10 17 15 12 10 7" />
                          <line x1="15" x2="3" y1="12" y2="12" />
                        </>
                      </svg>
                      Detail
                    </a>
                  </div>
                </div>
              </div>
            );
          })
      }
    </div>
    <!-- Button link -->
    <div
      class="pt-8 text-center lg:pt-20"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
      data-aos-duration="800"
    >
      <a
        href="/projects"
        class="inline-block cursor-pointer rounded-full border px-5 py-3 text-primary hover:bg-gray-700 es:py-2"
        >View all</a
      >
    </div>
  </div>
</section>
<style>
  @media screen and (max-width: 768px) {
    .adjusted:target::before {
      content: "";
      display: block;
      height: 1px;
      visibility: hidden;
    }
  }
  @media screen and (max-width: 375px) {
    .adjusted:target::before {
      content: "";
      display: block;
      height: 1px;
      visibility: hidden;
    }
  }
</style>
