---
import { Image } from "astro:assets";
import { getData } from "../../utils/projects";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
const data = getData();
---

<Layout title="Projects">
  <main transition:persist>
    <Header />
    <div class="mx-auto max-w-screen-xl px-6 pt-28">
      <h1
        class="bg-gradient-to-b from-zinc-200 to-neutral-500 bg-clip-text text-start text-3xl font-bold text-transparent md:text-center"
      >
        List of projects
      </h1>
      <!-- List -->
      <div class="mt-10 w-full">
        {
          data?.map((item, index) => {
            return (
              <>
                <div
                  data-aos="fade-up"
                  data-aos-anchor-placement="center-bottom"
                  class="flex flex-col gap-4 md:items-center"
                >
                  <Image
                    class:list="w-3/4 md:w-3/5 rounded-md border-2 border-primary border-opacity-5 lg:rounded-lg"
                    src={item.image}
                    alt={item.name}
                    transition:name={item.name}
                  />
                  <div class="flex flex-col md:items-center">
                    <div class="flex flex-col md:items-center">
                      <a
                        target="_blank"
                        href={item.url}
                        class="flex w-fit items-center text-xl font-semibold text-primary hover:underline lg:text-2xl"
                      >
                        <span class="pr-1">{item.name}</span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="20"
                          height="20"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="lucide lucide-arrow-up-right"
                        >
                          <>
                            <path d="M7 7h10v10" />
                            <path d="M7 17 17 7" />
                          </>
                        </svg>
                      </a>
                      <p class="mt-2 text-sm text-gray-400 md:w-3/5 md:text-center lg:text-base">
                        {item.description}
                      </p>
                    </div>
                    <div class="mt-3 flex flex-wrap gap-1 lg:mt-4 lg:gap-2">
                      {item.tech.map((item) => {
                        return (
                          <span class="rounded-full bg-primary bg-opacity-15 px-3 py-1 text-xs text-primary lg:text-sm">
                            {item}
                          </span>
                        );
                      })}
                    </div>
                    <div class="mt-5 flex gap-3 text-primary">
                      <a
                        href={item.github}
                        class="inline-block w-fit rounded-full border px-4 py-2 text-primary hover:bg-gray-700"
                      >
                        Github
                      </a>
                      <a
                        href=""
                        class="inline-block w-fit rounded-full border bg-white px-4 py-2 text-secondary hover:bg-slate-200"
                      >
                        Project Insight
                      </a>
                    </div>
                  </div>
                </div>
                <hr class="mb-8 mt-8 opacity-10" />
              </>
            );
          })
        }
      </div>
    </div>
  </main>
</Layout>
