---
import { Image } from "astro:assets";
import { getData } from "../../utils/projects";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
const data = getData();
---

<Layout title="Projects">
  <main transition:persist>
    <Header />
    <div class="mx-auto max-w-screen-xl px-6 pt-28">
      <h1
        class="bg-gradient-to-b from-zinc-200 to-neutral-500 bg-clip-text text-start text-3xl font-bold text-transparent md:text-center"
      >
        List of projects
      </h1>
      <!-- List -->
      <div class="mb-20 mt-10 flex w-full flex-col gap-8">
        {
          data?.map((item, index) => {
            return (
              <>
                <div
                  data-aos="fade-up"
                  data-aos-anchor-placement="center-bottom"
                  class="flex flex-col gap-4 rounded-3xl bg-gray-1 px-6 py-6 shadow-lg md:px-10 md:py-10 lg:flex-row-reverse lg:items-center lg:px-12 lg:py-6"
                >
                  <div class="py-0 lg:w-3/5 lg:py-8">
                    <Image
                      class:list="w-full h-full rounded-md lg:rounded-3xl"
                      src={item.image}
                      alt={item.name}
                      transition:name={item.name}
                    />
                  </div>
                  <div class="flex flex-col lg:w-2/5">
                    <div class="flex flex-col">
                      <a
                        target="_blank"
                        href={item.url}
                        class="flex w-fit items-center text-xl font-semibold text-primary hover:underline lg:text-2xl"
                      >
                        <span class="pr-1">{item.name}</span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="20"
                          height="20"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="lucide lucide-arrow-up-right"
                        >
                          <>
                            <path d="M7 7h10v10" />
                            <path d="M7 17 17 7" />
                          </>
                        </svg>
                      </a>
                      <p class="mt-2 text-sm text-gray-400 lg:text-base">
                        {item.description}
                      </p>
                    </div>
                    <div class="mt-3 flex flex-wrap gap-1 lg:mt-4 lg:gap-2">
                      {item.tech.map((item) => {
                        return (
                          <span class="rounded-full bg-primary bg-opacity-15 px-3 py-1 text-xs text-primary lg:text-sm">
                            {item}
                          </span>
                        );
                      })}
                    </div>
                    {/* Buttons */}
                    <div class="mt-6 flex gap-3 text-primary es:flex-col">
                      <a
                        target="_blank"
                        href={item.url}
                        class="flex w-fit items-center justify-center gap-2 rounded-full border px-2 py-2 text-sm text-primary hover:bg-gray-700 es:w-full md:px-4"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="lucide lucide-link-2"
                        >
                          <>
                            <path d="M9 17H7A5 5 0 0 1 7 7h2" />
                            <path d="M15 7h2a5 5 0 1 1 0 10h-2" />
                            <line x1="8" x2="16" y1="12" y2="12" />
                          </>
                        </svg>
                        Visit Website
                      </a>
                      <a
                        href=""
                        class="flex w-fit items-center justify-center gap-2 rounded-full border bg-white px-2 py-2 text-sm text-secondary hover:bg-slate-200 es:w-full md:px-4"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="lucide lucide-log-in"
                        >
                          <>
                            <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />
                            <polyline points="10 17 15 12 10 7" />
                            <line x1="15" x2="3" y1="12" y2="12" />
                          </>
                        </svg>
                        Project Insight
                      </a>
                    </div>
                  </div>
                </div>
              </>
            );
          })
        }
      </div>
    </div>
  </main>
</Layout>
